* {
margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: blue;
}

div {
  width: 200px;
  height: 200px;
  background-color: red;
  border: 2px solid pink;
}
